:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding:0;
  box-sizing: 0;
}
@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
    margin: 0; /* Reset the default margin */
  }
  html {
    overflow-x: hidden; /* Hide horizontal scrollbar on the HTML element */
  }
  img{
    margin-left: 0;
  }
}
html {
  overflow-x: hidden; /* Hide horizontal scrollbar on the HTML element */
}